/* i.fas.fa-search.icon {
    margin-left: -50px;
    z-index: 100;
    position: relative;
}
input.form-control.form-control-lg.form-control-borderless {
    outline: none;
    box-shadow: none !important;
    border-radius: 25px;
    border: 1px solid #fff;
    padding: 10px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
} */